// .example-container {
//     position: absolute;
//     top: 60px;
//     bottom: 60px;
//     left: 0;
//     right: 0;
//   }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 15%;
    background: #606060;
    padding: 25px 0;
    color: #fff;
  }
  
//   .example-header {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//   }
  
//   .example-footer {
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     right: 0;
//   }
.fdm-nav-logo{
  display: flex;
  justify-content: center;
  padding: 10px;
}
mat-list{
  mat-list-item{
    font-size: 17px;
    // font-family: 'OpenSans';
    // font-weight: 500;
    padding-left: 20px;

  }
  mat-list-item:hover{
    background-color: #e6e6e6;
    color: #000;
  }
}

.active-nav{
  background-color: #b6b6b6;
  color: #000;
}